﻿

@{
    ViewBag.Title = "Create";
}

<h2>Create new feature</h2>
<form action="/Feature/New" method="POST">

    <div>
        <label>New Feature:</label> <input type="text" name="FeatureName" />
    </div>

     <div>
        <input type="submit" value="Create Feature" />
    </div>

</form>