﻿

@{
    ViewBag.Title = "Create";
}

<h2>Create Location</h2>
<form action="/Location/Create" method="POST">
    <div>
        <label>Location:</label> <input type="text" name="LocationName" />
    </div>
   
    <div>
        <input type="submit" value="Create Location" />

    </div>
</form>